@import '../../../../scss/index.scss';

.add-menu-web-form {
  text-align: center;

  .ant-form-item {
    margin-top: 5px;
    margin-bottom: 5px;

    .anticon {
      color: regbs(0, 0, 0, 0.5);
    }
  }

  .btn-submit {
    width: 100%;
  }
}
