@import '../../../../scss/index.scss';

.add-edit-post-form {
  text-align: center;

  .ant-form-item {
    margin-top: 5px;
    margin-top: 5px;

    .anticon {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  .tox-tinymce {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .btn-submit {
    width: 100%;
  }
}
