@import '../../../scss/index.scss';

.newsletter {
  position: relative;

  h3 {
    color: $font-light;
    font-weight: bold;
  }

  input {
    height: 35px;
    font-size: 20px;
  }

  .anticon {
    font-size: 20px;
    color: rgba($color: #000000, $alpha: 0.25);
  }

  button {
    width: 100%;
    height: 40px;
  }
}
