@import '../../../../scss/index.scss';

.add-edit-course-form {
  text-align: center;

  .ant-form-item {
    margin-top: 5px;
    margin-bottom: 10px;

    .anticon {
      color: rgba($color: #000000, $alpha: 0.25);
    }
  }

  .btn-submit {
    width: 100%;
  }
}
